body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 0 10px;
    overflow: hidden; /* Prevents scrollbars during animation */
    flex-direction: column; /* Ensures vertical alignment */
}

.message {
    font-size: 4em;
    font-weight: bold;
    white-space: pre-line;
    position: relative;
    z-index: 2; /* Ensure message is above the circle */
}

.circle {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
    animation: scaleUp 15s forwards;
    z-index: 1; /* Ensure circle is behind the text */
}

.unlocked .circle {
    display: block;
}

.unlocked .message,
.unlocked #content {
    color: white; /* Set text color to white for unlocked state */
    z-index: 2; /* Ensure content is above the circle */
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(100);
    }
}

/* Centering and scaling video */
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: auto;
    width: 100%;
}

iframe {
    width: 80%;
    max-width: 1080px;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* Adaptive font size for h1 */
h1 {
    font-size: 7vw; /* Base font size using viewport units */
}